<head> 
    
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" 
    crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <h1>todo<span>list</span></h1>
        <h2>A todo list app built with node with a RESTful api</h2>
    </header>

    <section class="form">
        <input type="text" id="todoInput" placeholder="Write your task here..">
    </section>

    <ul class="list">
        
    </ul>

</body>
<script type="text/javascript" src="app.js"></script>